# === Spotify API ===
spotipy

# === OSC Communication ===
python-osc

# === Environment Variable Management ===
python-dotenv

# === System Monitoring ===
psutil
pynvml  # Optional: only needed for GPU stats (NVIDIA)

# === Tray Icon and Image Support ===
pystray
pillow


websockets==11.0.3
